<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CMS dla zgłaszania wiadomości</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">


    </head>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Wybierz formularz do wysłania</h2>
          <div class="navbar navbar-inverse">
            <a class="navbar-brand" href="{{ url_for('alert.get_alert_impurity') }}">Zgłaszanie zanieczyszczenia wody</a>
          </div>
          <div class="navbar navbar-inverse">
             <a class="navbar-brand" href="{{ url_for('alert.get_alert_leak') }}">Zgłaszanie Nieszczelności Układu</a>
          </div>
        </div>
      </div>


</html>
