.authentication-container {
    width: 100%;
    height: 100%;
}

.authentication-form {
    padding-top: 40%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.authentication-input {
    margin-bottom: 20px;
}

button.authentication-button {
    margin-bottom: 20px;
}
