.user-profile-section {
    padding-top: 70px;
}

.user-profile-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.user-profile-subtitle {
    font-size: 1.25rem;
}

.user-profile-value {
    font-size: 1.25rem;
    font-weight: 700;
}

.badges-container {
    display: flex;
}

.badge {
    margin-right: 20px;
}

.settings-buttons-box {
    display: flex;
    justify-content: space-around;
}
