.notification-board {
    height: 100%;
    padding-top: 70px;
}

.notification-board-title {
    font-size: 1.5rem;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.search-input {
    margin-left: 12px;
}
