.card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.notification-separator {
    margin-bottom: 0;
}

.notification-date {
    font-weight: 600;
}

.time {
    font-size: 0.75rem;
    align-self: flex-end;
}

.title {
    font-weight: 600;
    margin: 0;
}

.details {
    margin: 0;
}
