.card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.card.stats {
    background: #fcdad5;
}

.card.badge {
    background: #fcf6cf;
}

.card.marketplace {
    background: #ddfcd3;
}

.marketplace-photo {
    width: 200px;
    margin: 20px auto;
}

.notification-separator {
    margin-bottom: 0;
}

.notification-date {
    font-weight: 600;
}

.time {
    font-size: 0.75rem;
    align-self: flex-end;
}

.title {
    font-weight: 600;
    margin: 0;
}

.details {
    margin: 0;
}

button.decision-buttons:not(:last-child) {
    margin: 20px 0;
}
